.font-awesome {
    font-family: "FontAwesome";
}

Page {
    background-image: ~/images/first-hue-app-setup.jpg;
    background-color: black;
    background-size: 100% 100%;
}

ActivityIndicator {
    visibility: collapse;
    color: white;
    margin-top: 40%;
}

Label {
    color: white;
    text-align: center; 
}

.bridge {
    visibility: collapse;
}

.spinner {
    visibility: collapse;
}

StackLayout .btn,
StackLayout .btnGif {
    height: 115;
    
    margin-bottom: 5;
    
    font-size: 30;
    color: black;
    opacity: 1;
}

StackLayout .btnGif {
    margin-top: -120;
}

.configPage {
    top: 0;
    background-color: black;
}

.first {
    margin-top: 40;
    background-color: yellow;
        opacity: 0.1;
}

.IntenseHorror {
    background-color: red; 
        opacity: 0.1;
}

.third {
    background-color: green;
        opacity: 0.1;
}

.config {
    
}

.scroll {
    margin-top: 20;
    color: white;
    font-family: "FontAwesome";
}

ListView {
    height: 75%;
}

ListView Label {
    color: black;
    font-weight: bold;
    font-family: "FontAwesome";
    margin: 10;
}

.lightOption {
    border-width: 1;
    border-color: black;
    background-color: white;
    height: 100;
    margin: 0;
}

.lightIcon {
    margin-left: 25;
    margin-right: 10;
}

ListView Image {
    width: 20;
    height: 20;
    margin-left: 10;
}

.lightsConfigTitle {
    color: white;
    font-weight: bold;
    padding: 20 10 20 10;
}
